@import url(http://fonts.googleapis.com/css?family=Condiment|Open+Sans|Patua+One);

h1 {
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
}

h2 {
	font-family: 'Patua One', cursive;
}

p.first {
	font-family: 'Condiment', cursive;
}

p.second {
	font-family: 'Open Sans', sans-serif;
}

p.third {
	font-family: 'Open Sans', sans-serif;
}

a {

	font-size: 10px;
}

a:hover {

	color: red;
}